Package: proga1
Version: 1.0
Section: unknown
Priority: optional
Depends: libc6
Architecture: amd64
Essential: no
Installed-Size: 16
Maintainer: Kiberkotletkaa <Anna.Serebryakova02@yandex.ru>
Description: Program 2 from Lecture 2
